serviceAccount:
  create: true
  name: fluent-bit

backend:
  type: null

config:
  service: |
    [SERVICE]
        Flush         1
        Daemon        Off
        Log_Level     info
        Parsers_File  parsers.conf
        HTTP_Server   On
        HTTP_Listen   0.0.0.0
        HTTP_Port     2020

  inputs: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Mem_Buf_Limit     5MB
        Skip_Long_Lines   On

  filters: |
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            On

  outputs: |
    [OUTPUT]
        Name                es
        Match               kube.*
        Host                enough-watts-geometry-educated.trycloudflare.com
        Port                443
        Index               fluentbit
        Suppress_Type_Name  On
        Logstash_Format     Off
        Replace_Dots        On
        Generate_ID         On
        Retry_Limit         False
        HTTP_User           elastic
        HTTP_Passwd         elastic123
        tls                 On
        tls.verify          Off

    [OUTPUT]
        Name              loki
        Match             kube.*
        Uri               https://strings-councils-super-insurance.trycloudflare.com 
        Labels            job=eks-logs
        line_format       json
        tls               On
        tls.verify        Off


parsers: |
  [PARSER]
      Name   docker
      Format json
