# monitoring-k8s/values/loki-values.yaml
replicaCount: 1

image:
  tag: 2.7.3

persistence:
  enabled: true
  storageClassName: gp2
  accessModes: ["ReadWriteOnce"]
  size: 20Gi

loki:
  config:
    schema_config:
      configs:
        - from: 2020-10-15
          store: boltdb-shipper
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h
    storage_config:
      boltdb_shipper:
        active_index_directory: /data/loki/index
        shared_store: filesystem
      filesystem:
        directory: /data/loki/chunks
    limits_config:
      enforce_metric_name: false
      max_streams_per_user: 1000
    chunk_store_config:
      max_look_back_period: 168h

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 2Gi

# Expose service as ClusterIP; promtail will use this cluster service
service:
  type: ClusterIP
  port: 3100
