# monitoring-k8s/values/promtail-values.yaml

replicaCount: 1

config:
  snippets:
    pipelineStages:
      - docker: {}

    extraScrapeConfigs: |
      - job_name: system
        static_configs:
          - targets:
              - localhost
            labels:
              job: varlogs
              __path__: /var/log/*log

  clients:
    - url: http://monitoring-loki.monitoring-loki.svc:3100/loki/api/v1/push

service:
  type: ClusterIP
  port: 3101

daemonset:
  enabled: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
