# monitoring-k8s/values/tempo-values.yaml
replicaCount: 1

tempo:
  service:
    type: ClusterIP
    ports:
      - name: http
        port: 3200

  persistence:
    enabled: true
    storageClassName: gp2
    size: 10Gi

  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2Gi

ingester:
  replicaCount: 1

compactor:
  enabled: false

distributor:
  replicaCount: 1

query_frontend:
  enabled: true
